[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vendor/vim-awesome-cli"]
	path = vendor/vim-awesome-cli
	url = https://github.com/chuck-flowers/vim-awesome-cli.git
